<div class="container">
  <div class="row mb-2 mt-2 text-center">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h5>User Management Portal</h5>
      <small *ngIf="titleAction$ | async as title">{{title}}</small>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <!-- nav bar -->
  <nav class="navbar navbar-expand-md breadcrumb">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="nav nav-pills">
        <a class="nav-item nav-link active ml-1 custom-link" (click)="changeTitle('Users')"  data-toggle="tab">
          <em class="fa fa-users"></em>
          Users
        </a>
        <a class="nav-item nav-link ml-3 custom-link" (click)="changeTitle('Settings')" data-toggle="tab">
          <em class="fa fa-cogs"></em>
          Settings
        </a>
        <a class="nav-item nav-link move-right mr-3 custom-link" (click)="changeTitle('Profile')" data-toggle="tab">
          Welcome,
          <em class="fa fa-user"></em>
        </a>
      </div>
    </div>
  </nav>



